<div class="panel panel-default">
    <div class="panel-heading">
        <h1> إقتراحات المواطن</h1>
    </div>
    <div class="panel-body">
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
         <th>عدد الإقتراحات</th>
         <th>الولاية</th>
         <th>رقم الولاية</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let wilaya of listWilaya" (click)="loadWilayaSecteur(wilaya.codew)">
            <td>{{wilaya.nbVotants}}</td>
            <td>{{wilaya.libelFr}}</td>
            <td>{{wilaya.codew}}</td>
        </tr>
    </tbody>
    </table>     
    </div>
</div>
