<div class="panel panel-default">
    <div class="panel-heading">
        <h1> cityzen claims</h1>
    </div>
    <div class="panel-body">
       <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>code wilaya</th>
            <th>libel wilaya</th>
            <th>libel arab</th>
            <th>project</th>
            <th>adress</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of listWilaya">
            <td>{{list.codew}}</td>
            <td>{{list.libelFr}}</td>
            <td>{{list.libelAr}}</td>
        </tr>
    </tbody>
       </table>     

    </div>
</div>
